<div class="row">
	<div class="col-md-3">
		s
	</div>
	<div class="col-md-9">

		<!-- Something Fancy -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Panel title</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
			<div class="panel-footer">Panel footer</div>
		</div>

		<div class="row">
			<!-- Best 3 Players -->
			<div class="col-md-6">
				<ul class="grecqo_list">
					<li class="title">
						Beste Spieler der Welt Kythira
					</li>
					<li class="list_item">
						<%= link_to Player.find_by_rank(1), class: 'content' do %>
			        <h4 class="header"><%= Player.find_by_rank(1).name %></h4>
			        <p class="meta">
			        	Donec id elit non mi porta.
			        </p>
			        <span class="icon">
			        	<i class="fa fa-chevron-right"></i>
			        </span>
			      <% end %>
					</li>
					<li class="list_item">
						<%= link_to Player.find_by_rank(2), class: 'content' do %>
			        <h4 class="header"><%= Player.find_by_rank(2).name %></h4>
			        <p class="meta">
			        	Donec id elit non mi porta.
			        </p>
			        <span class="icon">
			        	<i class="fa fa-chevron-right"></i>
			        </span>
			      <% end %>
					</li>
					<li class="list_item">
						<%= link_to Player.find_by_rank(3), class: 'content' do %>
			        <h4 class="header"><%= Player.find_by_rank(3).name %></h4>
			        <p class="meta">
			        	Donec id elit non mi porta.
			        </p>
			        <span class="icon">
			        	<i class="fa fa-chevron-right"></i>
			        </span>
			      <% end %>
					</li>
				</ul>
			</div>

			<!-- Best 3 Alliances -->
			<div class="col-md-6">
				<ul class="grecqo_list">
					<li class="title">
						Beste Allianzen dieser Welt
					</li>
					<li class="list_item">
						<a href="#" class="content">
			        <h4 class="header">List group item heading</h4>
			        <p class="meta">
			        	Donec id elit non mi porta.
			        </p>
			        <span class="icon">
			        	<i class="fa fa-chevron-right"></i>
			        </span>
			      </a>
					</li>
					<li class="list_item">
						<a href="#" class="content">
			        <h4 class="header">List group item heading</h4>
			        <p class="meta">
			        	Donec id elit non mi porta.
			        </p>
			        <span class="icon">
			        	<i class="fa fa-chevron-right"></i>
			        </span>
			      </a>
					</li>
					<li class="list_item">
						<a href="#" class="content">
			        <h4 class="header">List group item heading</h4>
			        <p class="meta">
			        	Donec id elit non mi porta.
			        </p>
			        <span class="icon">
			        	<i class="fa fa-chevron-right"></i>
			        </span>
			      </a>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>