<div class="row grecqo_home">
	
	<div class="col-md-3">
		<div class="stat_box">
			<div class="icon">
				<%= Player.all.count %>
			</div>
			<span class="title">
				Spieler
			</span>
		</div>

		<div class="stat_box">
			<div class="icon">
				<%= Alliance.all.count %>
			</div>
			<span class="title">
				Allianzen
			</span>
		</div>

		<div class="stat_box">
			<div class="icon">
				<%= Town.all.count %>
			</div>
			<span class="title">
				Städte
			</span>
		</div>

		<div class="update_counter">
			<div class="icon">
				<i class="fa fa-power-off"></i>
			</div>
			<span class="title">
				Letzte Aktualisierung 
			</span>
			<div class="meta">
				<%= timeago_tag Player.find_by_rank(1).updated_at, lang: :de %>
			</div>
		</div>
	</div>


	<div class="col-md-9">
		
		<!-- Banner -->
		<div class="banner">
			<div class="inner">
				<div class="text">
					<h1>Grepolis Analytics</h1>
					<p>Welt: Kythira</p>
					<br>

					<% unless user_signed_in? %>
						<%= link_to new_user_registration_path, class: 'grecqo-btn btn-lg' do %>
							Registrieren
						<% end %>
					<% end %>
				</div>
			</div>
		</div>

		<!-- Discovery -->
		<div class="discovery">
			
			<div class="first_section">
				<div class="text">
					<h2>Stündlich aktualisiert</h2>
					<p>
						Grow your app quickly with mobile adverts that boost your installs. Adverts appear in the Facebook News Feed and take people directly to the app store to download.
					</p>
				</div>
			</div>

			<div class="second_section">
				<div class="text">
					<h2>Folge Spielern</h2>
					<p>
						Grow your app quickly with mobile adverts that boost your installs. Adverts appear in the Facebook News Feed and take people directly to the app store to download.
					</p>
				</div>
			</div>

			<div class="third_section">
				<div class="text">
					<h2>Get something new here and there</h2>
					<p>
						Grow your app quickly with mobile adverts that boost your installs. Adverts appear in the Facebook News Feed and take people directly to the app store to download.
					</p>
				</div>
			</div>
		</div>

		<!-- Bottom Landing -->
		<div class="landing">
			<div class="inner">
				<h2>Das Grepolis Analytics Tool</h2>
				<br>
				<% unless user_signed_in? %>
					<%= link_to new_user_registration_path, class: 'grecqo-btn btn-lg' do %>
						Registrieren
					<% end %>
				<% end %>
				<br>
				<br>
				<div class="fb-like" data-href="https://www.facebook.com/grecqo" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			</div>
		</div>

	</div>

</div>