<%= search_form_for @search do |f| %>
	<div class="form-group">
		<%= f.label :name_cont %>
		<%= f.text_field :name_cont, class: 'form-control' %>
	</div>
	<div class="actions">
		<%= f.submit 'Search' %>
	</div>
<% end %>

<% @players.each do |p| %>
	<%= p.name %>
	<br>
<% end %>