<!-- Breadcrumb -->
<div class="player_crumb">
	<div class="inner">
		<div class="pull-left">
			<ul>
				<li class="player_name">
					<%= link_to @player do %>
						<%= @player.name.capitalize %>
					<% end %>
				</li>
				<li class="player_alliance">
					<%= link_to '#' do %>
						<% if @player.alliance.present? %>
							<%= fa_icon 'shield' %>
							<%= @player.alliance.name %>
						<% else %>
							In keiner Allianz
						<% end %>
					<% end %>
				</li>
			</ul>
		</div>
		<div class="pull-right">
			<ul>
				<li>
					<%= link_to '#' do %>
						Updated <%= time_ago_in_words(@player.updated_at) %> ago
					<% end %>
				</li>
				<% if user_signed_in? %>
					<li>
						<% if current_user.following? @player %>
							<%= link_to unfollow_player_path(@player) do %>
								<%= fa_icon 'check-circle-o' %>
								Entfolgen
							<% end %>
						<% else %>
							<%= link_to follow_player_path(@player) do %>
								<%= fa_icon 'circle-o' %>
								Folgen
							<% end %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<!-- Statistics -->
<div class="row">
	<div class="col-md-3 col-sm-3">
		<div class="stat_box">
			<div class="icon">
				<%= @player.rank %>
			</div>
			<span class="title">
				Rank
			</span>
			<div class="meta">
				something else
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="stat_box">
			<div class="icon">
				<%= number_with_delimiter(@player.points) %>
			</div>
			<span class="title">
				Punkte
			</span>
			<div class="meta">
				something else
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="stat_box">
			<div class="icon">
				<%= number_with_delimiter(@player.town_count) %>
			</div>
			<span class="title">
				Städte
			</span>
			<div class="meta">
				something else
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="stat_box">
			<div class="icon">
				<%= number_with_delimiter(@player.conquers.count) %>
			</div>
			<span class="title">
				Eroberungen
			</span>
			<div class="meta">
				something else
			</div>
		</div>
	</div>
</div>

<div class="row">

	
	<div class="col-md-3">

		<!-- Bash -->
		<div class="bash_points_list">
			<div class="header">
				Bash Punkte
			</div>
			<div class="bash_all">
				<span class="pull-left">
					<span class="show">
						<%= fa_icon 'info-circle' %>
						<%= @player.all_points %>
					</span>
					<span class="metalicious">All</span>
				</span>
				<span class="pull-right">
					Rank: <%= @player.all_rank %>
				</span>
				<div class="clearfix"></div>
			</div>
			<div class="bash_att">
				<span class="pull-left">
					<span class="show">
						<%= fa_icon 'info-circle' %>
						<%= @player.att_points %>
					</span>
					<span class="metalicious">Offensiv</span>
				</span>
				<span class="pull-right">
					Rank: <%= @player.att_rank %>
				</span>
				<div class="clearfix"></div>
			</div>
			<div class="bash_def">
				<span class="pull-left">
					<span class="show">
						<%= fa_icon 'info-circle' %>
						<%= @player.def_points %>
					</span>
					<span class="metalicious">Defensiv</span>
				</span>
				<span class="pull-right">
					Rank: <%= @player.def_rank %>
				</span>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>

	<!-- Towns -->
	<div class="col-md-9">
		<div class="town_list">
			<div class="title">
				<span>
					Städte
				</span>
			</div>
			<div class="list">
				<% @player_towns.each do |town| %>

					<div class="individual_town">
						<div class="clearfix">

							<% if town.conquers.present? %>
								<% if town.conquers.last.intern? %>
									<div class="border_left_intern"></div>
								<% else %>
									<div class="border_left_eo"></div>
								<% end %>
							<% else %> 
								<div class="border_left_normal"></div>
							<% end %>

							<div class="content">
								<div class="pull-right">
									<div class="meta">
										<div>
											<%= town.ocean %>
											<%= fa_icon 'flag' %>
											&nbsp;&nbsp;|&nbsp;&nbsp;
											<%= town.coordinates %>
											<%= fa_icon 'globe' %>
											&nbsp;&nbsp;|&nbsp;&nbsp;
											<%= number_with_delimiter(town.points) %>
											<%= fa_icon 'bar-chart' %>
										</div>
										<% if town.conquers.present? %>
											<div class="conquer_time">
												Erobert: <%= town.conquers.find_by_new_player_id(@player.id).conquer_time if town.conquers.present? %>
											</div>
										<% end %>
									</div>
								</div>
								<div class="pull-left">
									<a href="#">
										
										<span class="town_name">
											<%= town.name %>
										</span>
										<div class="meta">
											<% if town.conquers.present? %>
												Erobert von:
												<b>
													<%= town.conquers.last.old_player.name if town.conquers.last.old_player %>
												</b>
												- 
												<b>
													<%= town.conquers.last.old_alliance.name if town.conquers.last.old_alliance %>
												</b>
											<% else %>
												Verlassen
											<% end %>
										</div>
										<div class="meta">
											<% if town.conquers.last %>
											<% else %>
											<% end %>
										</div>

									</a>
								</div>
							</div>

						</div>
					</div>

				<% end %>
			</div>
		</div>

		<div class="text-center">
			<%= will_paginate @player_towns, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>