<div class="row">
	<!-- Left Side -->
	<div class="col-md-3">
		
	</div>

	<!-- Right Side -->
	<div class="col-md-9">

    <div class="alliance_index_banner">
    	<div class="inner">
    		<div class="info">
    			<div class="text">
    				<h1><%= Alliance.all.count %> Allianzen</h1>
    				<p>Welt: Kythira</p>
    			</div>
    		</div>
    	</div>
    </div>

    <!-- Search Bar -->
    <%= search_form_for @search do |f| %>
			<div class="input-group">
	      <%= f.text_field :name_cont, class: 'form-control', placeholder: 'Name' %>
	      <div class="input-group-btn">
	        <%= button_tag(type: "submit", class: "btn btn-default", tabindex: '-1') do %>
            <i class="fa fa-binoculars"></i> Suchen
          <% end %>
	      </div>
	    </div>
    <% end %>

    <br>

		<table class="table table-striped">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Mitglieder</th>
          <th>Punkte</th>
        </tr>
      </thead>
      <tbody>
      	<% @alliances.each do |a| %>
	        <tr>
	        	<td><%= a.rank %></td>
	          <td><%= link_to a.name.capitalize, a %></td>
	          <td><%= a.member_count %></td>
	          <td><%= number_with_delimiter(a.points) %></td>
	        </tr>
        <% end %>
      </tbody>
    </table>

    <!-- Pagination -->
		<div class="text-center">
			<%= will_paginate @alliances, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>