<div class="ally_dashboard">

	<!-- Header -->
	<div class="header">
		<div class="clearfix">
			
			<span class="name">
				<%= @alliance.name.capitalize %>
			</span>

			<span class="status">
				Aktualisiert <%= timeago_tag @alliance.updated_at, lang: :de %>
			</span>

		</div>
	</div>

	<!-- Stats -->
	<div class="stats">
		<div class="row">

			<!-- Rank -->
			<div class="col-md-3 ally_box">
				<div class="number">
					<%= @alliance.rank %>
				</div>
				<div class="text">
					Rank
				</div>
			</div>

			<!-- Members -->
			<div class="col-md-3 ally_box">
				<div class="number">
					<%= @alliance.member_count %>
				</div>
				<div class="text">
					Mitglieder
				</div>
			</div>

			<!-- Points -->
			<div class="col-md-3 ally_box">
				<div class="number">
					<%= number_with_delimiter(@alliance.points) %>
				</div>
				<div class="text">
					Punkte
				</div>
			</div>

			<!-- Towns -->
			<div class="col-md-3 ally_box last">
				<div class="number">
					<%= number_with_delimiter(@alliance.town_count) %>
				</div>
				<div class="text">
					Städte
				</div>
			</div>

		</div>
	</div>

	<!-- Info -->
	<div class="habitat">
		<div class="row">
			
			<div class="col-md-3">
				<div class="ally_bash_list">
					
					<div class="boxerino all_rank">
						<div class="number">
							<% if @alliance.all_rank.present? %>
								<%= @alliance.all_rank %>
							<% else %>
								unbekannt
							<% end %>
						</div>
						<div class="text">
							Bashpunkte (All)
						</div>
					</div>

					<div class="boxerino def_rank">
						<div class="number">
							<% if @alliance.def_rank.present? %>
								<%= @alliance.def_rank %>
							<% else %>
								unbekannt
							<% end %>
						</div>
						<div class="text">
							Bashrangliste (Defensiv):
						</div>
					</div>

					<div class="boxerino att_rank">
						<div class="number">
							<% if @alliance.att_rank.present? %>
								<%= @alliance.att_rank %>
							<% else %>
								unbekannt
							<% end %>
						</div>
						<div class="text">
							Bashrangliste (Offensiv)
						</div>
					</div>

				</div>
			</div>

			<!-- Alliance Member List -->
			<div class="col-md-9">

				<div id="ally_container" style="width:100%; height:260px;"></div>
				<script type="text/javascript">
					$(function () {
						$('#ally_container').highcharts({
							credits: {
								enabled: false
							},
							chart: {
								type: 'spline'
							},
							title: {
								text: 'Allianz Übersicht'
							},
							subtitle: {
								text: false
							},
							xAxis: {
								type: 'datetime',
								dateTimeLabelFormats: { // don't display the dummy year
									month: '%e. %b',
									year: '%b'
								},
								title: {
									text: 'Date'
								}
							},
							yAxis: {
									title: {
										text: false
									},
									min: 0
							},
							tooltip: {
									headerFormat: '<b>{series.name}</b><br>',
									pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
							},

							series: [{
									name: 'Punkte',
									// Define the data points. All series have a dummy year
									// of 1970/71 in order to be compared on the same x axis. Note
									// that in JavaScript, months start at 0 for January, 1 for February etc.
									data: [
											[Date.UTC(1970,  9, 27), 0   ],
											[Date.UTC(1970, 10, 10), 0.6 ],
											[Date.UTC(1970, 10, 18), 0.7 ],
											[Date.UTC(1970, 11,  2), 0.8 ],
											[Date.UTC(1970, 11,  9), 0.6 ],
											[Date.UTC(1970, 11, 16), 0.6 ],
											[Date.UTC(1970, 11, 28), 0.67],
											[Date.UTC(1971,  0,  1), 0.81],
											[Date.UTC(1971,  0,  8), 0.78],
											[Date.UTC(1971,  0, 12), 0.98],
											[Date.UTC(1971,  0, 27), 1.84],
											[Date.UTC(1971,  1, 10), 1.80],
											[Date.UTC(1971,  1, 18), 1.80],
											[Date.UTC(1971,  1, 24), 1.92],
											[Date.UTC(1971,  2,  4), 2.49],
											[Date.UTC(1971,  2, 11), 2.79],
											[Date.UTC(1971,  2, 15), 2.73],
											[Date.UTC(1971,  2, 25), 2.61],
											[Date.UTC(1971,  3,  2), 2.76],
											[Date.UTC(1971,  3,  6), 2.82],
											[Date.UTC(1971,  3, 13), 2.8 ],
											[Date.UTC(1971,  4,  3), 2.1 ],
											[Date.UTC(1971,  4, 26), 1.1 ],
											[Date.UTC(1971,  5,  9), 0.25],
											[Date.UTC(1971,  5, 12), 0   ]
									]
							}, {
									name: 'Spieler',
									data: [
											[Date.UTC(1970,  9, 18), 0   ],
											[Date.UTC(1970,  9, 26), 0.2 ],
											[Date.UTC(1970, 11,  1), 0.47],
											[Date.UTC(1970, 11, 11), 0.55],
											[Date.UTC(1970, 11, 25), 1.38],
											[Date.UTC(1971,  0,  8), 1.38],
											[Date.UTC(1971,  0, 15), 1.38],
											[Date.UTC(1971,  1,  1), 1.38],
											[Date.UTC(1971,  1,  8), 1.48],
											[Date.UTC(1971,  1, 21), 1.5 ],
											[Date.UTC(1971,  2, 12), 1.89],
											[Date.UTC(1971,  2, 25), 2.0 ],
											[Date.UTC(1971,  3,  4), 1.94],
											[Date.UTC(1971,  3,  9), 1.91],
											[Date.UTC(1971,  3, 13), 1.75],
											[Date.UTC(1971,  3, 19), 1.6 ],
											[Date.UTC(1971,  4, 25), 0.6 ],
											[Date.UTC(1971,  4, 31), 0.35],
											[Date.UTC(1971,  5,  7), 0   ]
									]
							}, {
									name: 'Städte',
									data: [
											[Date.UTC(1970,  9,  9), 0   ],
											[Date.UTC(1970,  9, 14), 0.15],
											[Date.UTC(1970, 10, 28), 0.35],
											[Date.UTC(1970, 11, 12), 0.46],
											[Date.UTC(1971,  0,  1), 0.59],
											[Date.UTC(1971,  0, 24), 0.58],
											[Date.UTC(1971,  1,  1), 0.62],
											[Date.UTC(1971,  1,  7), 0.65],
											[Date.UTC(1971,  1, 23), 0.77],
											[Date.UTC(1971,  2,  8), 0.77],
											[Date.UTC(1971,  2, 14), 0.79],
											[Date.UTC(1971,  2, 24), 0.86],
											[Date.UTC(1971,  3,  4), 0.8 ],
											[Date.UTC(1971,  3, 18), 0.94],
											[Date.UTC(1971,  3, 24), 0.9 ],
											[Date.UTC(1971,  4, 16), 0.39],
											[Date.UTC(1971,  4, 21), 0   ]
									]
							}]
						});
					});


				</script>
			</div>

		</div>
	</div>
</div>


<!-- Nav tabs -->
<div class="grecqo_tabs">
	<ul class="" role="tablist">
	  <li role="presentation" class="active">
	  	<a href="#members" role="tab" data-toggle="tab">
	  		Mitglieder
	  		<span class="bottom_border"></span>
	  	</a>
	  </li>
	  <li role="presentation">
	  	<a href="#bashlist" role="tab" data-toggle="tab">
	  		Bash Rangliste
	  		<span class="bottom_border"></span>
	  	</a>
	  </li>
	</ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
	<!-- Towns -->
  <div role="tabpanel" class="tab-pane active" id="members">
  	Mitglieder
	</div>

	<!-- Conquers -->
	<div role="tabpanel" class="tab-pane" id="bashlist">
		Bash Rangliste
	</div>

</div>


<br>
<br>

<% @alliance.ocean_percentage.each do |a| %>
	<%= a %> <br>
<% end %>

<br>
<br>

