<!DOCTYPE html>
<html>
<head>
	<title>Grecqo</title>
	<meta name="google-site-verification" content="3C00BYZHR6Fp4Q3m4hk1a_bXiimWAxJl5VpvQuiskro" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= csrf_meta_tags %>
</head>
<body>

<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=105229212914030&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render 'layouts/header' %>

<div class="container">

	<% flash.each do |name, msg| %>
		<%= content_tag(:div, class: "alert alert-info") do%>
			<%=msg%>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
				<%= fa_icon 'minus-square-o' %>
			</button>
		<%end%>
	<% end %>

	<%= yield %>	
</div>

<%= render 'layouts/footer' %>

</body>
</html>
